In [1]:
import pandas as pd
from easydict import EasyDict

In [2]:
df = pd.read_csv('GOOG.csv', parse_dates=True, index_col='Date')

In [3]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2004-08-19,2.490664,2.591785,2.390042,2.499133,2.499133,897427216
2004-08-20,2.515820,2.716817,2.503118,2.697639,2.697639,458857488
2004-08-23,2.758411,2.826406,2.716070,2.724787,2.724787,366857939
2004-08-24,2.770615,2.779581,2.579581,2.611960,2.611960,306396159
2004-08-25,2.614201,2.689918,2.587302,2.640104,2.640104,184645512
...,...,...,...,...,...,...
2022-11-29,96.000000,96.389999,94.389999,95.440002,95.440002,20220000
2022-11-30,95.120003,101.449997,94.669998,101.449997,101.449997,39888100
2022-12-01,101.400002,102.589996,100.669998,101.279999,101.279999,21771500
2022-12-02,99.370003,101.150002,99.169998,100.830002,100.830002,18812200
2022-12-05,99.815002,101.750000,99.355003,99.870003,99.870003,19955500

In [4]:
df.iloc[int(0.8 * len(df))]

Open         6.003400e+01
High         6.018925e+01
Low          5.982175e+01
Close        6.010800e+01
Adj Close    6.010800e+01
Volume       1.449200e+07
Name: 2019-04-10 00:00:00, dtype: float64

In [5]:
from environment.stocks_env import StocksEnv

In [6]:
env = StocksEnv(EasyDict({
    "env_id": 'stocks-dqn-e', "eps_length": 200,
    "window_size": 200, "train_ratio": 0.7, 'validation_ratio': 0.15, "test_ratio": 0.15,
    "stocks_data_filename": 'GOOG'
}))

In [8]:
env.reset()

State(history=array([[-0.75570667, -0.7341606 , -0.73750204, -0.7472568 , -0.75570667,
         0.3357004 ],
       [-0.74145406, -0.75323546, -0.74826187, -0.7602719 , -0.74145406,
         0.6116234 ],
       [-0.7798889 , -0.75286144, -0.7549564 , -0.7703693 , -0.7798889 ,
         1.0922706 ],
       ...,
       [-0.7368549 , -0.7426492 , -0.7393894 , -0.7324877 , -0.7368549 ,
        -0.27176276],
       [-0.7253001 , -0.73521763, -0.7289039 , -0.72729146, -0.7253001 ,
        -0.14918427],
       [-0.6963399 , -0.7147117 , -0.70454514, -0.7073098 , -0.6963399 ,
         1.0571787 ]], dtype=float32), position_history=[<Position.FLAT: 0>], tick=0.005)